#nav-bar {
  top: 0px;
  float: left;
}

body {
  background-color: white;
}

#header-img {
  width: 7%;
  height: 7%;
}

#header {
  display: flex;
  flex-direction: row;
}

form {
  margin-top: 10px;
}