#nav-bar {
  display: inline-block;
  top: 0px;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

li {
  display: inline-block;
}

#nav-bar a {
  float: right;
}

body {
  background-color: white;
}

#header-img {
  width: 7%;
  height: 7%;
}

form {
  margin-top: 10px;
}